---
import { Image } from '@astrojs/image/components';

const IMAGE_SIZES = {
  width: 250,
  height: 550,
  sizes: '',
  aspectRatio: 0,
};
---

<div class="section" id="sobre">
  <div class="flex flex-col md:flex-row gap-10 justify-center">
    <div class="flex-1 w-50 flex gap-10 justify-center">
      <div class="max-w-[50%]">
        <Image
          src="/images/barber.jpg"
          alt="A landscape image"
          class="w-full shadow-xl animation"
          loading="eager"
          height={IMAGE_SIZES.height}
          width={IMAGE_SIZES.width}
          aspectRatio={IMAGE_SIZES.aspectRatio}
          sizes={IMAGE_SIZES.sizes}
        />
      </div>
      <div class="max-w-[50%]">
        <Image
          src="/images/beard.jpg"
          alt="A landscape image"
          class="w-full shadow-xl animation"
          data-delay={150}
          loading="eager"
          height={IMAGE_SIZES.height}
          width={IMAGE_SIZES.width}
          aspectRatio={IMAGE_SIZES.aspectRatio}
          sizes={IMAGE_SIZES.sizes}
        />
      </div>
    </div>
    <div class="flex-1">
      <h2
        data-delay={700}
        data-animation="fade-in"
        class="animation text-4xl md:text-5xl leading-tighter tracking-wider my-9 md:mt-0 font-heading text-red-800 dark:text-orange-200"
      >
        Sobre nós
      </h2>
      <p
        data-delay={900}
        data-animation="fade-in"
        class="animation font-serif leading-8 text-lg text-justify delay-200 fill-mode-both"
      >
        At Barber Studio, we take pride in delivering top-notch grooming services to our valued clients. Our team of
        skilled barbers is dedicated to providing the highest quality haircuts and grooming experiences tailored to your
        unique style. With a passion for precision and an eye for detail, we ensure you leave our studio feeling and
        looking your absolute best. Step into Barber Studio and discover the art of exceptional grooming.
      </p>
    </div>
  </div>
</div>

<style lang="scss"></style>
